@model coreProject.Models.Seance
<form asp-action="Edit">
    <div>
         <label>code Seance</label>
         <input asp-for="codeSeance" type="text">
    </div>
     <div>
         <label>code Matiere</label>
         <input asp-for="codeMatiere" type="text">
    </div>
     <div>
         <label>code Professeur</label>
         <input asp-for="codeProf" type="text">
    </div>
     <div>
         <label>code Filiere</label>
         <input asp-for="codeFiliere" type="text">
    </div>
   
    <div>
         <button type="submit">Edit</button>
         <button asp-action="Index">Back</button>
    </div>

</form>