@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="~/dist/css/index.css"  rel="stylesheet"/>
    <title>Document</title>
</head>
<body>
    <div class="text-center">
    <h1 class="display-4">مراقبة حضور الطلاب</h1>
    <p>Controle D'assiduité des Etudiants</p>
</div>
<br><br>
    <div class="panel panel-default">
      <br>
   <div class="panel-heading">
      Sommaire
   </div>
   <br>
   <div class="panel-body">
<table class="table table-bordred">
  <thead>
  <tr>
         <td style="background: brown;">L P</td>
         <td style="background-color: cornsilk;">L A</td>
          <td style="background-color: dimgray;">T A M</td>
          <td style="background-color: forestgreen;">N A E</td>
           <td style="background-color: lemonchiffon;">T A E</td>     
  </tr>
  </thead>
         <tbody>
 
      <tr>
           <td class="simo">Listes d'absences de chaque matiere</td>
           <td>Listes de presences de chaque matiere</td>
           <td>Taux d'absenteismes dans chaque matiere</td>
           <td>nombre d'absences par etudiant</td>
           <td>Taux d'absenteismes par etudiant</td>
          
  </tr>
  
  </tbody>
</table>
</div>
   
  </div>
</body>
</html>
